body {
    margin: 0 auto;
    padding: 0;
    background-color: white;
    border-radius: 10px;
}

.navegation {
    margin: 0;
    padding: 0;
    font-size: 18px;
    width: auto;
    background-color: none;
    border: 1px black solid;
    border-radius: 10px;
    text-align: center;
}

li {
    display: inline-flex;
    list-style-type: none;
    /* height: 93px;
    width: 132px; */
    /* border: 1px black solid; */
    align-items: center;
    text-align: center;
}

.home,
.sobremim,
.conhecimento,
.portifolio {
    color: black;
    text-decoration-color: none;
    text-decoration: none;
    margin: 15px;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
}

.home:hover,
.sobremim:hover,
.conhecimento:hover,
.portifolio:hover {
    color: green;
}
.divtitulo {
    text-align: center;
}
.apresentacao{
    /* display: flex; */
    /* flex-direction: column; */
}
.txtapresentacao label{
    margin-left: 20%;
    display: flex;
    text-align: center;
    width: 250px;
    font-size: 40px;
}